<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Lips McBot Homepage</title>

    <style>
        body {
            background-color: #f0f8ff;
            color: #000;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h2 {
            color: #0000cd;
        }
        p {
            margin: 0 auto;
            margin-bottom: 20px;
            width: 50%;
        }
        }
        form {
            margin-bottom: 20px;
        }
        img {
            width: 200px;
            height: 200px;
        }

    </style>

</head>
<body>

    <img src="https://media.discordapp.net/attachments/255002176701726722/1159936369741791252/evie_prof_pic_r_no_bg.png?ex=6532d5ed&is=652060ed&hm=010a78b2182c7c4cdacaa6970358e3b4bc4be33539606bb71e208aed2b740022&=" alt="Logo">

    <h2>What do you want to ask about?</h2>

    <form action="/general" method="post">
        <button value="Submit">General Albion Q/A</button>
    </form>

    <form action="/patch_notes" method="post">
        <button value="Submit">Patch Changes</button>
    </form>

</body>
</html>