<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Lips McBot Patch Notes</title>
</head>
<body>

    <h2>Instructions:</h2>
    <p>Ask any question about albion online patches. The Q/A will appear bellow.</p>
    <p>For best results, be specific and use correct terminology (eg. Say elder's mace instead of T8 mace).</p>
    <p>The bot currently has no memory. If you want to ask a followup question, paraphrase the previous question/answer so the bot knows that you're talking about.</p>

    <form action="/patch_notes" method="post">
        <textarea id="user_question" name="user_question" placeholder="Type your question here..." required></textarea>
        <button value="Submit">Send</button>
    </form>

    <h2>Question: {{ user_question }}</h2>
    <h2>Answer: {{ llm_response }}</h2>

</body>
</html>